<h1>Gráficas de barras</h1>
<hr>
<div class="row">
    <div class="col">
        <div style="display: block;">
            <canvas baseChart class="chart"
                [data]="barChartData"
                [options]="barChartOptions"
            
                [type]="barChartType">
        </canvas>
        
            <button  (click)="randomize()"
                    class="btn btn-primary float-end">
                
                    Actualizar
            </button>        
        </div>
        
    </div>
</div>

